@font-face {
    font-family: 'Ownglyph_StudyHard-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_StudyHard-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    background-color: rgb(255, 151, 151);
  }

body {
    font-family: 'Ownglyph_StudyHard-Rg';
}

.nav_bar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .nav_bar ul{
    display: flex;
  }
  
  .nav_bar ul li {
    font-family: 'Ownglyph_StudyHard-Rg';
  }
  
  .nav_bar ul li a{
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
    position: relative;
    padding: 30px 25px;
    transition: 0.2s;
  }
  .nav_bar ul li a:hover{
    color: rgb(255, 81, 81);
  }
  .nav_bar ul li a.active{
    color: rgb(255, 81, 81);
  }

.intro {
    display: block;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin-bottom: 10px;
    background-color: rgb(255, 151, 151);
}

#intro-picture {
    width: 500px;
    height: 500px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 15%;
}

.intro h1 {
    font-size: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    color: aliceblue;
    background-color: rgb(255, 151, 151);
}

span {
    color: rgb(227, 255, 170);
    background-color: rgb(255, 151, 151);
}

.about-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    text-align: center;
}

#about img {
    width: 400px;
    height: 400px;
    margin: 40px;
    border-radius: 25%;
}

.about-container p {
    font-size: 30px;
    margin-bottom: 50px;
}

.subtitle {
    font-size: 50px;
    color: rgb(255, 81, 81);
    text-align: center;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

#subtitle2 {
    padding-top: 60px;
    background-color: aliceblue;
}

#plans {
    width: 100%;
    height: 100%;
    padding-bottom: 60px;
    background-color: aliceblue;
}
.planslist {
    font-size: 30px;
    text-align: center;
    background-color: aliceblue;
}

.planslist ul {
    background-color: aliceblue;
}

.plist {
    background-color: aliceblue;
    padding-bottom: 20px;
    justify-content: center;
}

@media (max-width: 768px) {
    
    #intro-picture {
        width: 90%;
        padding: 20px;
    }

    .images {
        width: 90%;
        padding: 20px;
    }

    .about-container {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .about-tab {
        flex: 1;
    }

    .about-container p{
        padding: 20px 20px 10px 20px;
        text-align: center;
    }

}
